@font-face {
    font-family: "Como";
    src: url("../font/Como-Medium.ttf");
}

@font-face {
    font-family: "Arial-Rounded";
    src: url("../font/Arial-Rounded.ttf");
}


html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #1C3326;
    font-family: Arial-Rounded;
}

::-webkit-scrollbar {
    display: none;
}

/*Page Connexion*/

#connection_div_patern {
    background-image: url("../uploads/patern_light_green.svg");
    background-size: cover; /* Ajuste la taille de l'image pour remplir complètement le conteneur */ /* Change la couleur de fond */
    padding-top: 10vh;
    height: 150vh;
}


#h1_connexion {
    margin: 0 0 1vh 0;
    text-align: center;
}

#h1_connexion a {
    text-decoration: none;
    font-size: 3.5vh;
    color: #A9FFA4;
    font-weight: bold;
}

#connexion_logo_contour{
    width: 75%;
    margin: 0 auto 5vh auto;
    text-align: center;

}

#connexion_logo{
    width: 45vw;
    height: 5vh;
}

#connexion_cadre {
    text-align: center;
    color: white;
    width: 90%;
    margin: auto;
    background-color: #A9FFA4;
    padding: 2vh;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#h2_connexion {
    font-size: 3vh;
    margin: 0.5vh 0 3vh 4vw;
    color: #2BBA7C;
    font-weight: bolder;
    float: left;
}

#connexion_user_svg{
    margin-left: 5vw;
    width: 10vw;
    height: 4vh;
    color: #2BBA7C;
    float: left;
}

.connexion_input_area{
    width: 75vw;
    padding: 2vh;
    height: 5vh;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.75vh;
    background-color: #FFEFE1;
    color: #1c322596;
}

#connexion_form{
    height: 23vh;
}

#connexion_contour_button{
    width: 60vw;
    margin: 4vh auto 0 auto;
    text-align: center;
}

#connexion_input_submit {
    background-color: #A9FFA4;
    padding: 1.5vh;
    width: 60vw;
    border: none;
    border-radius: 50px;
    font-size: 1.75vh;
    font-weight: bold;
    color: #1C3326;
}


#connexion_retour {
    margin: 5vh auto 0 auto;
    text-align: center;
}

#connexion_button_retour {
    border: none;
    background-color: #1C3326;
    border-radius: 10px;
    padding: 1vh;
    width: 15vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

#connexion_retour button a {
    text-decoration: none;
    font-size: 3vh;
    color: white;
}

#connexion_div_mdp{
    width: 50%;
    text-align: center;
    margin: 0.5vh auto 0 auto;
}

#connexion_button_mdp{
    text-align: center;
    font-size: 1.25vh;
    color: #FFEFE1;
}

/*Page erreur connexion*/

#erreur_connexion_box{
    width: 80%;
    height: 25vh;
    margin: 30vh auto;
    background-color: #A9FFA4;
    color: #1C3326;
    text-align: center;
    padding: 2vh;
    border-radius: 15px;
}

#erreur_connexion_para{
    margin-top: 7.5vh;
    font-size: 2.5vh;
}

#erreur_button_form{
    width: 75%;
    border: none;
    border-radius: 10px;
    padding: 1vh;
    background-color: #FFEFE1;
}

#erreur_button_form a{
    text-decoration: none;
    color: #1C3326;
    font-size: 2.25vh;
}

/*Page Inscription*/


#inscription_div_patern{
    background-image: url("../uploads/pattern.svg");
    background-size: cover; /* Ajuste la taille de l'image pour remplir complètement le conteneur */ /* Change la couleur de fond */
    height: 150vh;
    background-color: #1C3326;
    font-family: Arial-Rounded;
    padding-top: 4vh;
}
#h1_inscription {
    text-align: center;
    font-weight: bolder;
}

#h1_inscription a {
    text-decoration: none;
    color: #A9FFA4;
    font-size: 3vh;
}

#inscription_logo_contour{
    text-align: center;
    margin-bottom: 5vh;
}

#inscription_cadre_overall{
    text-align: center;
}

#inscription_cadre {
    text-align: center;
    color: white;
    margin: auto;
    width: 85%;
    background-color: #2BBA7C;
    padding: 2vh;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#h2_inscription {
    font-size: 3vh;
    margin: 0.5vh 0 1vh 4vw;
    color: #A9FFA4;
    font-weight: bolder;
    float: left;
}

#inscription_user_svg{
    margin-left: 5vw;
    width: 10vw;
    height: 4vh;
    color: #A9FFA4;
    float: left;
}

.inscription_input_area{
    width: 75vw;
    padding: 2vh;
    height: 5vh;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.75vh;
    background-color: #FFEFE1;
    color: #1c322596;
}

#inscription_files_box{
    width: 85vw;
    text-align: center;
    color: white;
    margin: 5vh auto 5vh auto;
    background-color: #A9FFA4;
    padding: 2vh;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#inscription_h2_files{
    color: #1C3326;
}

#image_preview img{
    border-radius: 10px;
}


#crop_button{
    width: 75vw;
    border: none;
    background-color: #1C3326;
    color: #A9FFA4;
    border-radius: 15px;
    padding: 1.5vh;
}

#crop_submit_button{
    border: none;
    background-color: #1C3326;
    margin-top: 2vh;
    color: #A9FFA4;
    font-size: 3vh;
}
#inscription_box_button{
    width: 50vw;
    text-align: center;
    margin: auto;
}

#inscription_box_button input{
    background-color: #2BBA7C;
    color: #FFEFE1;
    border: none;
    padding: 2vh;
    width: 50vw;
    border-radius: 50px;
}

/*Page Classement*/

#classement_div_patern{
    background-image: url("../uploads/pattern.svg");
    background-size: cover; /* Ajuste la taille de l'image pour remplir complètement le conteneur */ /* Change la couleur de fond */
    height: 150vh;
}

#h1_classement {
    text-align: center;
    margin-top: 5vh;
    font-weight: bold;
}

#h1_classement a {
    text-decoration: none;
    color: black;
    font-size: 7.5vh;
}

#h2_classement {
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
}

.avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

#classement_paragraph_top{
    color: #A9FFA4;
}

/*Page Planète*/


#planet_overall{
    position:absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 0;
}
#planet_box_logo{
    margin-top: 2.5vh;
    text-align: center;
    height: 0;
}

#planet_logo{
    width: 35vw;
    height: 20vh;

}

.sketchfab-embed-wrapper{
    margin-top: -4.95vh;
}


#planet_annotation{
    width: 85%;
    height: 25vh;
    text-align: center;
    margin: 62.5vh auto 0 auto;
    background-color: #ffffff49;
    padding: 2vh;
    border-radius: 15px;
}

#planet_h2_annotation{
    background-color: #2BBA7C;
    padding: 0.5vh 1vh;
    border-radius: 20px;
    width: 27.5vw;
    font-size: 2.5vh;
    margin: auto;
    color: white;
}

#planet_h3_annotation{
    margin-top: 2vh;
    color: white;
    font-size: 2.25vh;
    text-align: left;
    width: 57.5vw;
}
#planet_points_vert{
    color: #A9FFA4;
}

.progress{
    height: 1.5vh;
}

.progress-bar{
    background-color: #A9FFA4;
    height: 1.5vh;
}

#planet_h3_annotation_ex{
    margin: 0;
    float: left;
    text-align: left;
    width: 50%;
    font-size: 2vh;
    color: #A9FFA4;
}

#planet_h3_annotation_lv{
    margin: 0;
    float: right;
    text-align: right;
    font-size: 2vh;
    width: 50%;
    color: #fff;
}


/*Page Compte*/

.profile-image {
    width: 60px;
    border-radius: 50%;
}

#compte_settings {
    float: right;
    background-color: #1C3326;
    border: none;
    padding-right: 2vw;
    padding-top: 2vh;
}

#compte_settings i {
    color: white;
    font-size: 4vh;
    cursor: pointer;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 40vh;
    background-color: white;
    padding: 5vh;
    z-index: 9999;
    display: none;
    background-color: #1C3326;
    color: white;
    text-align: center;
    border-radius: 30px;

}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fond semi-transparent */
    z-index: 999;
    /* Empilement au-dessus de tout le reste, sauf la pop-up */
    display: none;
    /* Initialement caché */
}

#compte_param_button_close {
    border: none;
    background-color: #1C3326;
    float: right;
    margin-top: -1vh;
}

#compte_param_button_close i {
    color: #fff;
    font-size: 4vh;
    cursor: pointer
}

#compte_h3_settings {
    margin-top: 5vh;
    margin-bottom: 6.5vh;
    font-size: 4vh;
}

#compte_settings_button_valid {
    width: 30%;
    padding: 1vh;
    border: none;
    font-size: 2vh;
    border-radius: 25px;
    margin-top: 2.5vh;
}

#compte_share {
    font-size: 4vh;
    cursor: pointer;
    margin-left: 1.5vw;
    margin-top: 2vh;
}

#compte_bar {
    width: 80vw;
    height: 0.25vh;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto 0 auto;
}

#image_compte {
    margin-left: 15vw;
}

#texte_compte {
    width: 30vw;
    float: left;
    padding-top: 2vh;
    font-size: 1.25vw;
}

.custom-file-upload input[type="file"] {
    display: none;
}


#deconnexion_compte {
    clear: both;
    margin-top: 55vh;
    text-align: center;
    width: 100%;
}


#compte_button {
    border: none;
    border-radius: 5px;
    padding: 2vh;
    width: 15vw;
    background-color: #1C3326;
    font-size: 2.5vh;
    text-transform: bold;
}


#compte_button a {
    text-decoration: none;
    color: white;
}

.succes {
    margin: 60px;
    background-color: #1C3326;
    border-radius: 10px;
}

.succes_numero {
    margin: 20px;
    padding: 30px 40px;
    color: #1C3326;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Ajout de la transition pour l'effet hover */
}

.succes_numero:hover {
    transform: scale(1.05); /* Légèrement agrandir sur hover */
}

.succes h2 {
    font-size: 2.5rem;
}
/* Style pour le popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    z-index: 9999; /* Assure que le popup est au-dessus de tout */
    overflow: auto; /* Permet de faire défiler le contenu du popup si nécessaire */
}

.popup-content {
    background-color: #fefefe; /* Couleur de fond du popup */
    width: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#badgeContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    grid-gap: 20px; /* Espacement entre les colonnes */
    justify-content: center; /* Centre les éléments horizontalement */
}

.badgeSlot {
    width: 45px; /* Largeur des éléments */
    height: 45px; /* Hauteur des éléments */
    background-color: transparent;
    border: 1px solid #000; /* Bordure pour former un cercle */
    border-radius: 50%; /* Rend les éléments circulaires */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px; /* Espacement en bas de chaque élément */
}

/* Style pour les trois premiers éléments */
#badgeSlot1,
#badgeSlot2,
#badgeSlot3 {
    grid-row: 1; /* Première ligne */
}

/* Style pour les trois derniers éléments */
#badgeSlot4,
#badgeSlot5,
#badgeSlot6 {
    grid-row: 2; /* Deuxième ligne */
}



@media screen and (max-Width:700px){
    .succes {
        margin: 0px; /* Réduit la marge pour les petits écrans */
        padding: 0; /* Supprime le rembourrage pour éviter le débordement sur les petits écrans */
        background-color: #1C3326;
    }
    
    .succes_numero {
        margin: 15px;
        padding: 20px; /* Réduit le rembourrage pour les petits écrans */
        color: #1C3326;
        background-color: #fff;
        overflow: hidden;
    }
    
}

/*Page défis*/

#defis_h1 {
    text-align: center;
    margin: 5vh 0 0 0;
    padding: 0;
}

#defis_h1 a {
    text-decoration: none;
    color: black;
    font-size: 7.5vh;
}


#defis_h2 {
    text-align: center;
    font-size: 5vh;
    margin: 0 0 5vh 0;
}


#defis_ul {
    margin: 0 auto 15vh auto;
    padding: 2vh;
    background: rgb(130, 214, 123);
    background: linear-gradient(230deg, rgba(130, 214, 123, 1) 0%, rgba(71, 195, 60, 1) 100%);
    width: 90%;
    border-radius: 10px;
}


.defi {
    background-color: #1C3326;
    padding: 4vh;
    margin: 4vh auto 4vh auto;
    color: #fff;
    text-align: center;
    width: 80%;
    border-radius: 10px;
}

#defi_form {
    margin-top: 2vh;
}

#defis_button {
    border: none;
    width: 15vw;
    padding: 1vh;
    cursor: pointer;
    border-radius: 20px;

}


/*Page succès*/

#success_overall{
    background-image: url("../uploads/pattern.svg");
    background-size: cover; /* Ajuste la taille de l'image pour remplir complètement le conteneur */ /* Change la couleur de fond */
    height: 200vh;
    padding-top: 10vh;
}

#success_title_box{
    margin-bottom:5vh ;
}

#success_svg_retour{
    width: 7.5vw;
    height: 5vh;
    float: left;
    margin-left: 5vw;
}

#success_h1{
    width: 50%;
    margin: auto;
    color: #A9FFA4;
    font-size: 4.5vh;
    text-align: center;
}

#succes_box1{
    width: 85%;
    background-color: #2BBA7C;
    color: #A9FFA4;
    border-radius: 15px;
    margin: auto;
    padding: 3vh 2vh 2vh 2vh;
}

#succes_box2{
    width: 85%;
    background-color: #A9FFA4;
    color: #A9FFA4;
    border-radius: 15px;
    margin: 5vh auto;
    padding: 3vh 2vh 2vh 2vh;
}

#succes_box3{
    width: 83%;
    border: #2BBA7C 0.5vh solid;
    color: #A9FFA4;
    border-radius: 15px;
    margin: 5vh auto;
    padding: 3vh 2vh 2vh 2vh;
}

#succes_box4{
    width: 85%;
    background-color:#BFEABB ;
    color: #A9FFA4;
    border-radius: 15px;
    margin: 5vh auto;
    padding: 3vh 2vh 2vh 2vh;
}

#success_svg_trophy{
    width: 10vw;
    height: 5vh;
    float: left;
    margin-left: 5vw;
}

#success_h2_1{
    color: #A9FFA4;
    width: 80%;
    margin: 0 auto 2vh auto;
    float: left;
}

#success_h2_2{
    color: #1C3326;
    width: 80%;
    margin: 0 auto 2vh auto;
    float: left;
}

#success_h2_3{
    color: white;
    width: 80%;
    margin: 0 auto 2vh auto;
    float: left;
}


.success_box_1{
    clear: both;
    width: 85%;
    background-color: #FFEFE1;
    border-radius: 15px;
    margin: 2.5vh auto;
    padding: 2vh 2vh;
}

.success_box_2{
    clear: both;
    width: 85%;
    background-color: #1C3326;
    border-radius: 15px;
    margin: 2.5vh auto;
    padding: 2vh 2vh;
}

.success_box_3{
    clear: both;
    width: 85%;
    background-color: #2BBA7C;
    border-radius: 15px;
    margin: 2.5vh auto;
    padding: 2vh 2vh;
}

.success_h3_darkgreen{
    color: #1C3326;
    margin: 0;
}

.success_h3_lightgreen{
    color: #A9FFA4;
    margin: 0;
}

.succes_strong_green{
    color:#2BBA7C;
}

.succes_strong_lightergreen{
    color:#BFEABB;
}



/*Page Recyclage*/

#recyclage_overall{
    position:absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
}

#recyclage_svg{
    margin: auto;
    text-align: center;
    width: 100vw;
    height: 65vh;
}

#recyclage_annotation{
    width: 85%;
    height: 25vh;
    text-align: center;
    margin: auto;
    background-color: #ffffff49;
    padding: 2vh;
    border-radius: 15px;

}

#recyclage_h2_annotation{
    font-size: 2.5vh;
    color:#FFEFE1
}

#recyclage_trait{
    width: 65%;
    height: 0.4vh;
    border-radius: 10px;
    background-color: #FFEFE1;
    margin: 2vh auto 2vh auto;
}

#recyclage_annotation_warning{
    width: 45vw;
    height: 5vh;
    margin: auto;
}

#recyclage_warning{
    float: left;
}

#recyclage_warning_h3{
    text-align: left;
    margin-left: 3vw;
    color: #A9FFA4;
    float: left;
    font-size: 1.55vh;
    width: 35vw;
}

/*Général pour toutes les pages*/

/* Style général du footer */
footer {
    font-weight: bolder;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2BBA7C;
    color: #1C3326;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

/* Style des icônes de navigation */
.nav img {
    width: 24px;
    height: 24px;
}

/* Style des icônes actives */
.nav .nav-link.active i {
    color: #2BBA7C;
}

/* Centrage du menu de navigation */
.nav {
    display: flex;
    justify-content: center;
}

/* Style des slots du menu de navigation */
.nav-slot {
    flex: 1;
    text-align: center;
}

/* Style des liens du menu de navigation */
.nav-link {
    padding: 0.5rem 0.4rem;
    font-weight: bold;
    color: #1C3326;
}

/* Style des liens du menu de navigation au survol */
.nav-link:hover {
    color: #1C3326;
}

/* Style des liens du menu de navigation désactivés */
.nav-link:disabled {
    color: #2BBA7C;
}

/* Style du texte accompagnant les images */
.image-text {
    display: block;
    margin-top: 5px;
    font-size: 0.8rem;
}

/* Style spécifique des icônes de planète dans le footer */
footer .planet-icon {
    height: 55px;
    width: 55px;
    margin-top: -10%;
}


/* Style page planete */

iframe {
    width: 100vw;
    height: 100vh;
}

.sketchfab-embed-wrapper {
    width: 100vw;
    height: 100vh;
}