@font-face {
    font-family: "Como";
    src: url("Como-Medium.ttf");
  }


html,body{
    margin: 0px;
    padding: 0px;
    background-color: #BFEABB;
    font-family: Como, Arial;
}

::-webkit-scrollbar {
    display: none;
  }

/*Page Connexion*/

#h1_connexion{
    margin: 7.5vh 0 6vh 0;
    text-align: center;
}

#h1_connexion a{
    text-decoration: none;
    color: black;
    font-size: 7.5vh;
}

#connexion_cadre{
    text-align: center;
    color: white;
    width: 60%;
    margin: auto;
    background-color: #1C3326;
    padding: 7.5vh;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#h2_connexion{
    font-size: 5vh;
    margin: 0 0 5vh 0;
}

#connexion_input_submit{
    background-color: white;
    padding: 0.5vh;
    width: 7.5vw;
    border: none;
    border-radius: 10px;
}

#connexion_retour{
    margin: 5vh auto 0  auto;
    text-align: center;
}

#connexion_button_retour{
    border: none;
    background-color: #1C3326;
    border-radius: 10px;
    padding: 1vh;
    width: 15vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}
#connexion_retour button a{
    text-decoration: none;
    font-size: 3vh;
    color:white;
}


/*Page Inscription*/

#h1_inscription{
    margin: 5vh 0 10vh 0;
    text-align: center;
}

#h1_inscription a{
    text-decoration: none;
    color: black;
    font-size: 7.5vh;
}

#inscription_cadre{
    text-align: center;
    color: white;
    width: 60%;
    margin: auto;
    background-color: #1C3326;
    padding: 7.5vh;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#h2_inscription{
    font-size: 5vh;
    margin: 0 0 5vh 0;
}

#inscription_input_submit{
    background-color: white;
    padding: 0.5vh;
    width: 7.5vw;
    border: none;
    border-radius: 10px;
}

#inscription_retour{
    margin: 5vh auto 5vh auto;
    text-align: center;
}

#inscription_button_retour{
    border: none;
    background-color: #1C3326;
    border-radius: 10px;
    padding: 1vh;
    width: 15vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}
#inscription_retour button a{
    text-decoration: none;
    font-size: 3vh;
    color:white;
}


/*Page Classement*/

#h1_classement{
    text-align: center;
    margin-top: 5vh;
    font-weight: bold;
}

#h1_classement a{
    text-decoration: none;
    color: black;
    font-size: 7.5vh;
}

#h2_classement{
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
}

.avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

/*Page Compte*/

.profile-image {
    width: 20vh;
    /* Taille fixe de l'image */
    height: 20vh;
    border-radius: 50%;
    /* Pour rendre l'image ronde */
}

#h1_compte{
    text-align: center;
}

#h1_compte a{
    text-decoration: none;
    color: black;
    font-size: 7.5vh;
}

#h2_compte{
    text-align: center;
    font-size: 2.5vw;
    width: 50vw;
    margin: 1vh auto 3vh auto;
}

#profil{
    background-color: #1C3326;
    padding: 1vh 1vh 3vh 1vh;
    color: white;
    height: 65vh;
    margin-top: 5vh;
    
}

#compte_settings{
    float: right;
    background-color: #1C3326;
    border: none;
    padding-right: 2vw;
    padding-top: 2vh;
}

#compte_settings i{
    color: white;
    font-size: 4vh;
    cursor: pointer;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 40vh;
    background-color: white;
    padding: 5vh;
    z-index: 9999;
    display: none;
    background-color: #1C3326;
    color: white;
    text-align: center;
    border-radius: 30px;

}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fond semi-transparent */
    z-index: 999;
    /* Empilement au-dessus de tout le reste, sauf la pop-up */
    display: none;
    /* Initialement caché */
}

#compte_param_button_close{
    border: none;
    background-color: #1C3326;
    float: right;
    margin-top: -1vh;
}

#compte_param_button_close i{
    color: #fff;
    font-size: 4vh;
    cursor:pointer
}

#compte_h3_settings{
    margin-top: 5vh;
    margin-bottom: 6.5vh;
    font-size: 4vh;
}

#compte_settings_button_valid{
    width: 30%;
    padding: 1vh;
    border: none;
    font-size: 2vh;
    border-radius: 25px;
    margin-top: 2.5vh;
}

#compte_share{
    font-size: 4vh;
    cursor: pointer;
    margin-left:1.5vw ;
    margin-top: 2vh;
}

#compte_bar{
    width: 80vw;
    height: 0.25vh;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto 0 auto;
}

#image_compte{
    margin-top: 5vh;
    text-align: center;
    width: 30vw;
    height: 30vh;
    float: left;
    padding: 2vh;
    margin-right: 10vw;
    margin-left: 15vw;
}

#texte_compte{
    width: 30vw;
    float: left;
    padding-top: 2vh;
    font-size: 1.25vw;
}

.custom-file-upload input[type="file"] {
    display: none; 
}

.custom-file-upload {
    display: inline-block;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: black;
    padding: 1vh;
    border-radius: 10px;
    margin: 3vh;
}


#deconnexion_compte{
    clear: both;
    margin-top: 55vh;
    text-align: center;
    width: 100%;
}


#compte_button{
    border: none;
    border-radius:5px ;
    padding: 2vh;
    width: 15vw;
    background-color: #1C3326;
    font-size: 2.5vh;
    text-transform: bold;
    margin-bottom: 20vh;
}


#compte_button a{
    text-decoration:none ;
    color: white;
}

.succes {
    border: none;
    border-radius:5px ;
    padding: 2vh;
    width: 15vw;
    background-color: #1C3326;
    font-size: 2.5vh;
    text-transform: bold;
    margin-bottom: 20vh;
    text-align: center;
    width: 97vw;
}

.succes2 {
    display: flex;
    flex-direction: row;
}

.succes_numero {
    display: flex;
    flex-direction: column;
    width: 32vw;
}

/*Page défis*/

#defis_h1{
    text-align: center;
    margin: 5vh 0 0 0;
    padding: 0;
}

#defis_h1 a{
    text-decoration: none;
    color: black;
    font-size: 7.5vh;
}


#defis_h2{
    text-align: center;
    font-size: 5vh;
    margin: 0 0 5vh 0;
}


#defis_ul{
    margin: 0 auto 15vh auto;
    padding: 2vh;
    background: rgb(130,214,123);
    background: linear-gradient(230deg, rgba(130,214,123,1) 0%, rgba(71,195,60,1) 100%);
    width: 90%;
    border-radius: 10px;
}


.defi{
    background-color: #1C3326;
    padding: 4vh;
    margin: 4vh auto 4vh auto;
    color: #fff;
    text-align: center;
    width: 80%;
    border-radius: 10px;
}

#defi_form{
    margin-top: 2vh;
}

#defis_button{
    border: none;
    width: 15vw;
    padding: 1vh;
    cursor: pointer;
    border-radius: 20px;
    
}


/*Page Recyclage*/

#recyclage_h1{
    text-align: center;
}

#recyclage_h1 a{
    color: black;
    text-decoration: none;
    font-size: 7vh;
}

#recyclage_h2{
    color: white;
}

#recyclage_box{
    background-color: #1C3326;
    padding: 2vh 5vh 2vh 5vh;
    width: 80vw;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 15vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#recyclage_video{
   text-align: center;
}

#recyclage_button_box{
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: Como;
}

.button{
    border: none;
    padding: 1vh;
    border-radius:10px;

}


/*Général pour toutes les pages*/


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer i {
    color:#fff;
}

.footer-nav {
    background-color: #1C3326; /* Couleur de fond */
    display: flex; /* Utilisation de flexbox */
    justify-content: center; /* Centrer les éléments horizontalement */
    padding: 2.5vh 0; /* Ajout de rembourrage haut et bas */
    justify-content: space-around;
    margin: 0px;
}

/* Style des éléments de la liste */
.footer-nav li {
    list-style: none;
}

/* Style des liens */
.footer-nav li a {
    color: #fff; /* Couleur du texte */
    text-decoration: none; /* Suppression du soulignement */
    padding: 10px; /* Espacement interne */
}

.footer-nav ul {
    margin-block-start:0px;
    margin-block-end:0px;
}

/* Styke page planete */

iframe{
    width: 100vw;
    height: 100vh;
}

.sketchfab-embed-wrapper{
    width: 100vw;
    height: 100vh;
}